<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title"></div>
                <hr>

                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a #Link1 id="Link1" (click)="cambiarValor('default', 'Link1')" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #Link2 id="Link2" (click)="cambiarValor('green', 'Link2')" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #Link3 id="Link3" (click)="cambiarValor('red', 'Link3')" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #Link4 id="Link4" (click)="cambiarValor('blue', 'Link4')" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #Link5 id="Link5" (click)="cambiarValor('purple', 'Link5')" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #Link6 id="Link6" (click)="cambiarValor('megna', 'Link6')" data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a #Link7 id="Link7" (click)="cambiarValor('default-dark', 'Link7')" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #Link8 id="Link8" (click)="cambiarValor('green-dark', 'Link8')" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #Link9 id="Link9" (click)="cambiarValor('red-dark', 'Link9')" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #Link10 id="Link10" (click)="cambiarValor('blue-dark', 'Link10')" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #Link11 id="Link11" (click)="cambiarValor('purple-dark', 'Link11')" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #Link12 id="Link12" (click)="cambiarValor('megna-dark', 'Link12')" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>